name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build_scan_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # SAST with Horusec running inside Docker (no local install needed)
      - name: Horusec SAST
        run: |
          docker run --rm -v "$PWD:/src" horuszup/horusec-cli:latest \
          horusec start -p /src -e=true || true

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to ECR
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          ECR_REPO: ${{ secrets.ECR_REPO }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          cd app
          ECR_REGISTRY="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"

          docker build -t "${ECR_REGISTRY}/${ECR_REPO}:${IMAGE_TAG}" .
          docker tag "${ECR_REGISTRY}/${ECR_REPO}:${IMAGE_TAG}" "${ECR_REGISTRY}/${ECR_REPO}:latest"

          docker push "${ECR_REGISTRY}/${ECR_REPO}:${IMAGE_TAG}"
          docker push "${ECR_REGISTRY}/${ECR_REPO}:latest"
